*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overspass', san-serrif;
}

/* RATE CONTAINER SECTION */

.rate-container {
background-color: hsl(213, 19%, 18%);
height: 390px;
width: 400px;
margin: 100px auto;
padding: 20px;
border-radius: 20px;

}

.star-icon {
    background-color: hsl(216, 13%, 38%);
    padding: 15px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.rate-me h2 {
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', san-serif;
    margin-bottom: 15px;
}

.rate-me p {
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', san-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul {
    display: flex;
    margin-bottom: 20px;
}

.rates {
    list-style: none;
    margin-right: 25px;
    font-family: 'Overpass' san-serif;
    font-weight: 700;

}

.rates button {
    padding: 15px 20px;
    border-radius: 110px;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 13%, 38%);
}

.rates button:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.rates button:focus {
  background-color: hsl(215, 16%, 67%);
}

.btn {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color:hsl(25, 97%, 53%);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin: 15px 0;
    font-size: 15px;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

/* THANKS SECTION */

.thanks-for-rate {
background-color: hsl(213, 19%, 18%);
height: 390px;
width: 400px;
margin: 100px auto;
padding: 20px;
border-radius: 20px;
font-family: 'Overpass', san-serif;
text-align: center;
}

.thanks-img {
    margin: 10px 0;
}

.your-choice {
color: hsl(25, 97%, 53%);
margin: 10px 70px;
padding: 3px;
background: hsl(215, 13%, 25%);
border-radius: 20px;
}

.thank-you h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin: 20px 0;
}

.thank-you p {
    color: hsl(216, 12%, 54%);
    line-height: 1.5;

}

/* DISPLAY CONTROL */

.hidden {
    display: none;
}